MLFLOW_TRACKING_URI="http://localhost:5000"
MLFLOW_S3_ENDPOINT_URL="http://localhost:9000"
AWS_ACCESS_KEY_ID="minioadmin"
AWS_SECRET_ACCESS_KEY="minioadmin"
EXPERIMENT_NAME="PlantCLEF2026"
DATA_DIR="../data"
MODEL_DIR="../model"

# DANN Configuration
GPU_ID=0
BACKBONE="vit_base_patch14_dinov2"
BATCH_SIZE=32
LEARNING_RATE=0.001
BACKBONE_LR_FACTOR=0.01
DOMAIN_LOSS_WEIGHT=1.0
NUM_EPOCHS=20
SOURCE_DATA_PATH="/home/ppgec/Documentos/GabrielBorges/PlantCLEF2026/data/labeled"
TARGET_DATA_PATH="/home/ppgec/Documentos/GabrielBorges/PlantCLEF2026/data/quadrats"
USE_AMP=true
